.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

img {
    border-radius: 50%;
    height: 12.25rem;
    width: 12rem;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
}