.bio {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: rgba(240, 255, 255, 0.765);
    border-radius: .375rem;
    transform: skewX(4deg);
    text-align: center;
    width: 100%;
    padding-top: 3%;
}

.accord{
    min-width: 100%;
    margin-top: 5%;
    background-color: rgb(240, 255, 255);
    border-radius: .375rem;
    transform: skewX(4deg);
}

button.accordion-button{
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
}

div.accordion-body{
    color: #212529;
    font-size: 1.2rem;
}

h3{
    padding: 3%;
}

p{
    text-align: left;
    margin: 0 9%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 5%;
}

.indent{
    text-indent: 3rem;
}

.small p{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: rgb(231, 3, 3);
}

a:hover {
    color: blue;
    font-size: 1.1rem;
}